prefer-no-csd
hotkey-overlay.skip-at-startup
creenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png" 

environment = {
  DISPLAY ":0"
  XDG_CURRENT_DESKTOP "niri"
  XDG_SESSION_DESKTOP "niri"
  XDG_SESSION_TYPE "wayland"
  GDK_BACKEND "wayland"
  GTK_CSD "0"
  CLUTTER_BACKEND "wayland"
  QT_QPA_PLATFORM "wayland"
  QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
  QT_AUTO_SCREEN_SCALE_FACTOR "1"
  SDL_VIDEODRIVER "wayland"
  MOZ_ENABLE_WAYLAND "1"
  NIXOS_OZONE_WL "1"
}

spawn-at-startup "dunst"
spawn-at-startup "swww-daemon"
spawn-at-startup "swww" "img" "~/nixos-dotfiles/pictures/mono-forest.PNG"
spawn-at-startup "wlsunset" "-t" "5000" "-T" "6500"
spawn-at-startup "xwayland-satellite"
//swayidle -w timeout 600 'swaylock -f -c 000000' timeout 1200 'systemctl suspend' resume 'systemctl resume'


input {
  keyboard { xkb { layout "us" } }
  touchpad {
    tap
    dwt
    dwtp
    natural-scroll
    scroll-method "two-finger"
  }
  mouse { accel-speed 1.0 }
}
output "DP-1" {
    mode "1920x1080@165.001"
    scale 1
    transform "normal"
    position x=0 y=0
}
layout {
    gaps 8
    center-focused-column "never"
    preset-column-widths {
        proportion 0.25
        proportion 0.5
        proportion 0.75
    }
    default-column-width { proportion 0.5; }
    border { width 2 }
}
animations {}

window-rule {
  geometry-corner-radius 12
  clip-to-geometry true
}

binds {
    Mod+Shift+Slash { show-hotkey-overlay; }

    // Suggested binds for running programs: terminal, app launcher, screen locker.
    Mod+Return { spawn "alacritty"; }
    Mod+Space { spawn "fuzzel"; }
    XF86LaunchA { spawn "firefox"; }
    XF86LaunchB { spawn "code"; }
    Super+Alt+L { spawn "swaylock"; }
    Super+Alt+P { spawn "wlogout"; }

    Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    XF86AudioRaiseVolume { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1+"; }
    XF86AudioLowerVolume { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1-"; }
    XF86AudioMute        { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }
    XF86AudioMicMute     { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }

    XF86MonBrightnessUp"  { spawn "brightnessctl" "--device=intel_backlight" "s" "5%+"; }
    XF86MonBrightNessDown { spawn "brightnessctl" "--device=intel_backlight" "s" "5%-"; }
    XF86KbdBrightNessUp   { spawn "brightnessctl" "s" "10%+" "-d" "smc::kbd_backlight"; }
    XF86KbdBrightNessDown { spawn "brightnessctl" "s" "10%-" "-d" "smc::kbd_backlight"; }

    Mod+Q { close-window; }

    Mod+Left       { focus-column-left; }
    Mod+Right      { focus-column-right; }
    Mod+Up         { focus-window-or-workspace-up; }
    Mod+Down       { focus-window-or-workspace-down; }

    Mod+Ctrl+Up    { move-window-up-or-to-workspace-up; }
    Mod+Ctrl+Down  { move-window-down-or-to-workspace-down; }
    Mod+Ctrl+Left  { move-column-left; }
    Mod+Ctrl+Right { move-column-right; }

    Mod+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }
    Mod+Ctrl+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
    Mod+Ctrl+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }

    Mod+WheelScrollRight      { focus-column-right; }
    Mod+WheelScrollLeft       { focus-column-left; }
    Mod+Ctrl+WheelScrollRight { move-column-right; }
    Mod+Ctrl+WheelScrollLeft  { move-column-left; }

    Mod+1      { focus-workspace 1; }
    Mod+2      { focus-workspace 2; }
    Mod+3      { focus-workspace 3; }
    Mod+Ctrl+1 { move-column-to-workspace 1; }
    Mod+Ctrl+2 { move-column-to-workspace 2; }
    Mod+Ctrl+3 { move-column-to-workspace 3; }

    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }

    Mod+Comma  { consume-window-into-column; }
    Mod+Period { expel-window-from-column; }

    Mod+R { switch-preset-column-width; }
    Mod+Shift+R { switch-preset-window-height; }
    Mod+Ctrl+R { reset-window-height; }
    Mod+M { maximize-column; }
    Mod+Shift+M { fullscreen-window; }

    Mod+Minus       { set-column-width "-10%"; }
    Mod+Equal       { set-column-width "+10%"; }
    Mod+Shift+Minus { set-window-height "-5%"; }
    Mod+Shift+Equal { set-window-height "+5%"; }
}