.direnv
assets/emacs/auto-save-list
assets/emacs/eln-cache
assets/emacs/straight
assets/emacs/transient
assets/emacs/url
/assets/emacs/recentf
assets/emacs/tramp
/.DS_Store
/assets/emacs/org-persist/
/assets/emacs/custom-vars.el
/assets/emacs/tree-sitter/
