input {
    keyboard {
        xkb {
            layout ""
            model ""
            rules ""
            variant ""
            options "ctrl:nocaps,altwin:swap_alt_win"
        }
        repeat-delay 600
        repeat-rate 25
        track-layout "global"
        numlock
    }
    touchpad {
        tap
        dwt
        natural-scroll
        click-method "clickfinger"
    }
    mouse { accel-speed 0.000000; }
    tablet { map-to-output "eDP-1"; }
    touch { map-to-output "eDP-1"; }
}
output "DP-1" {
    transform "normal"
    mode "1920x1080@165.001000"
}
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"
prefer-no-csd
layout {
    gaps 0
    struts {
        left 0
        right 0
        top 0
        bottom 0
    }
    focus-ring { off; }
    border {
        width 2
        active-color "#81a1c1"
        inactive-color "#4c566a"
    }
    default-column-width
    center-focused-column "never"
}
cursor {
    xcursor-theme "Bibata-Modern-Classic"
    xcursor-size 24
    hide-after-inactive-ms 5000
}
hotkey-overlay { skip-at-startup; }
environment {
    DISPLAY ":0"
    "GDK_BACKEND" "wayland,x11"
    "MOZ_ENABLE_WAYLAND" "1"
    "NIXOS_OZONE_WL" "1"
    "QT_AUTO_SCREEN_SCALE_FACTOR" "1"
    "QT_QPA_PLATFORM" "wayland;xcb"
    "QT_WAYLAND_DISABLE_WINDOWDECORATION" "1"
    "SDL_VIDEODRIVER" "x11"
    "_JAVA_AWT_WM_NONREPARENTING" "1"
}
binds {
    Alt+Print { screenshot-window; }
    Ctrl+Alt+Delete { quit; }
    Ctrl+Shift+Alt+Delete { quit skip-confirmation=true; }
    Mod+Alt+left { focus-monitor-next; }
    Mod+Alt+right { focus-monitor-previous; }
    Mod+Comma { consume-or-expel-window-left; }
    Mod+Ctrl+Equal { set-window-height "+10%"; }
    Mod+Ctrl+M { maximize-column; }
    Mod+Ctrl+Minus { set-window-height "-10%"; }
    Mod+Down { focus-window-or-workspace-down; }
    Mod+E { spawn "sh" "-c" "emacs"; }
    Mod+Equal { set-column-width "+10%"; }
    Mod+Left { focus-column-left; }
    Mod+M { expand-column-to-available-width; }
    Mod+Minus { set-column-width "-10%"; }
    Mod+Period { consume-or-expel-window-right; }
    Mod+Q { close-window; }
    Mod+R { switch-preset-column-width; }
    Mod+Return { spawn "sh" "-c" "kitty"; }
    Mod+Right { focus-column-right; }
    Mod+Shift+Alt+left { move-window-to-monitor-next; }
    Mod+Shift+Alt+right { move-window-to-monitor-previous; }
    Mod+Shift+B { spawn "sh" "-c" "librewolf"; }
    Mod+Shift+C { spawn "sh" "-c" "env DISPLAY=:0 xsel -ob | wl-copy"; }
    Mod+Shift+Down { move-window-down-or-to-workspace-down; }
    Mod+Shift+Equal { set-column-width "+1%"; }
    Mod+Shift+L { spawn "sh" "-c" "swaylock"; }
    Mod+Shift+Left { move-column-left; }
    Mod+Shift+M { fullscreen-window; }
    Mod+Shift+Minus { set-column-width "-1%"; }
    Mod+Shift+Right { move-column-right; }
    Mod+Shift+Up { move-window-up-or-to-workspace-up; }
    Mod+Shift+V { spawn "sh" "-c" "wl-paste -n | env DISPLAY=:0 xsel -ib"; }
    Mod+Shift+f { toggle-window-floating; }
    Mod+Space { spawn "sh" "-c" "wmenu-run -N \\\n\"#191d24\" \\\n-n \"#8fbcbb\" \\\n-S \"#81a1c1\" \\\n-s \"#191d24\"\n"; }
    Mod+Up { focus-window-or-workspace-up; }
    Mod+W { spawn "sh" "-c" "systemctl --user restart waybar.service"; }
    Mod+f { switch-focus-between-floating-and-tiling; }
    Mod+t { toggle-column-tabbed-display; }
    Print { screenshot; }
    XF86AudioLowerVolume { spawn "sh" "-c" "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.05-"; }
    XF86AudioMute { spawn "sh" "-c" "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioNext { spawn "sh" "-c" "rmpc next"; }
    XF86AudioPlay { spawn "sh" "-c" "rmpc togglepause"; }
    XF86AudioPrev { spawn "sh" "-c" "rmpc prev"; }
    XF86AudioRaiseVolume { spawn "sh" "-c" "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.05+"; }
    XF86KbdBrightnessDown { spawn "sh" "-c" "brightnessctl --device=smc::kbd_backlight set 10%-"; }
    XF86KbdBrightnessUp { spawn "sh" "-c" "brightnessctl --device=smc::kbd_backlight set 10%+"; }
    XF86MonBrightnessDown { spawn "sh" "-c" "brightnessctl set 5%-"; }
    XF86MonBrightnessUp { spawn "sh" "-c" "brightnessctl set 5%+"; }
}
spawn-at-startup "/nix/store/0ikaq60scqi5804w2ydlr8rd4z8g1k0v-xwayland-satellite-0.7/bin/xwayland-satellite"
spawn-at-startup "/nix/store/9dajiy9p6c7x82fnwy5l34migj91x95m-wlsunset-0.4.0/bin/wlsunset" "-T" "5200"
spawn-at-startup "/nix/store/4390mmcq5mna44s2pya2agq7lyy0hk0j-swaybg-1.2.1/bin/swaybg" "-m" "fill" "-i" "/nix/store/1iz19dn00v62x4wqn43zj7flgr9l9nyn-wallhaven-5g22q5.png"
spawn-at-startup "brightnessctl" "s" "50%"
spawn-at-startup "systemctl" "--user" "reset-failed" "waybar.service"
spawn-at-startup "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "1"
window-rule {
    geometry-corner-radius 1.000000 1.000000 1.000000 1.000000
    clip-to-geometry true
}
window-rule {
    match app-id="^org.prismlauncher.PrismLauncher$"
    open-floating false
}
window-rule {
    match app-id="org.kde.polkit-kde-authentication-agent$"
    open-floating true
    block-out-from "screen-capture"
}
gestures { hot-corners { off; }; }