@define-color background #292b2e;
@define-color foreground #1a1a1a;
@define-color text #fdf6e3;
@define-color text-blue #268bd2;

* {
    font-family: "Nerd Fonts Symbols Only", "Ariel", sans-serif;
    font-size: 12px;
    }

    window#waybar {
    background: @background;
        color: @text;
    }

    #custom-up-left-arrow,
    #custom-up-right-arrow,
    #custom-down-left-arrow,
    #custom-down-right-arrow {
        color: @foreground;
        font-size: 27px;
    }

    #workspaces,
    #idle_inhibitor,
    #clock,
    #pulseaudio,
    #memory,
    #cpu,
    #disk,
    #backlight,
    #battery,
    #custom-power {
        background: @foreground;
    }

    #workspaces button {
        padding: 0 2px;
        color: @text;
    }
    #workspaces button.focused {
        color: @text-blue;
    }
    #workspaces button:hover {
        box-shadow: inherit;
        text-shadow: inherit;
    }
    #workspaces button:hover {
        background: @foreground;
        border: @foreground;
        padding: 0 3px;
    }

    #custom-power,
    #pulseaudio {
        color: @text-blue;
    }
    #memory {
        color: #2aa198;
    }
    #cpu {
        color: #6c71c4;
    }
    #disk {
        color: #b58900;
    }
    #battery {
        color: #859900;
    }

    #idle_inhibitor,
    #clock,
    #pulseaudio,
    #memory,
    #cpu,
    #disk,
    #battery,
    #backlight,
    #custom-power {
        padding: 0 10px;
    }